/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px red;
}

.green {
    border: 1px green;
}

.banner {
    height: 450px;
    background: url("./banner2.webp") center no-repeat;
    background-size: cover;
    padding: 20px;
}

.about-signin {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about,
.signin {
    /* display: inline-block; */
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.signin {
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid green;
}

.logo {
    background: url('./logo.png') center center no-repeat;
    margin-top: 30px;
    height: 100px;
}


.text {
    margin-top: 20px;
    text-align: center;
}

.btn-start {
    text-align: center;
    /* text-transform: uppercase; */
}

button {
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 20px;
    border: 1px solid green;
    margin-top: 20px;
    cursor: pointer;
}
.content-center{
    margin-top: 20px;
    height: 50px;
    border: 1px solid red;
}